<%- include("partials/head")%>
<%- include("partials/navbar")  %>
  <body>
    <h1>HomePage way to heaven <%= 1+2+3 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dicta et nemo
      itaque recusandae placeat consectetur, nulla non. Molestiae assumenda
      facilis tempore nihil quis perferendis?
    </p>
  </body>
</html>
